* {
    margin:0;
    font-weight: bold;
}
body {
    display:flex;
    background-color: rgb(34, 30, 30);
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
}
#container {
    background-color: darkblue;
    border:2px solid darkblue;
    border-radius: 5px;
    padding:8px;
    width:80vw;
    height:80vh;
}
#display {
    padding:3px;
    background-color: lightgray;
    color:black;
    text-align: right;
    border-radius: 5px;
    margin-bottom:5px;
    font-family: 'Courier New', Courier, monospace;
    font-size:3em;
    min-height:20vh;
    overflow-wrap: break-word;
}
#display > h1 {
    direction: ltr;
}
button {
    margin:3px;
    border:none;
    border-radius: 5px;
    width:19.05vw;
    height:11.6vh;
    font-size: 5em;
    transition: .2s;
}
button:hover {
    background-color: magenta;
}
#clear, .operation, #equals {
    color:white;
}
.operation {
    background-color: gray;
}
#equals {
    background-color: darkslategrey;
    width:39vw;
}
#clear {
    background-color: red;
}
.number {
    background-color: white;
    color:darkblue;
}

@media screen and (min-width:1024px) {
    #container {
        width:356px;
        height:369px;
    }
    #display {
        font-size:1em;
        min-height:2em;
    }
    button {
        width:80px;
        height:60px;
        font-size: 2em;
    }
    #equals {
        width:168px;
    }
}